/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis globais */
:root {
    /* Cores do logo */
    --greenWebtagger: #a1ab04;
    --redWebTagger: #d6040b;
    --blueWebTagger: #066eb4;
    --yellowWebTagger: #f7b400;
    
    /* Cores opacidade */
    --greenWebtagger-10: rgba(160, 171, 4, 0.111);
    --redWebTagger-10: rgba(214, 4, 11, 0.111);
    --blueWebTagger-10: rgba(6, 110, 180, 0.111);
    --yellowWebTagger-10: rgba(247, 181, 0, 0.111);
    --greenWebtagger-50: rgba(160, 171, 4, 0.525);
    --redWebTagger-50: rgba(214, 4, 11, 0.474);
    --blueWebTagger-50: rgba(6, 110, 180, 0.516);
    --yellowWebTagger-50: rgba(247, 181, 0, 0.504);
    
    /* Gradiente */
    --greenWebtagger-gradient: linear-gradient(180deg,rgba(161, 171, 4, 1) 0%, rgba(160, 171, 4, 0) 100%);
    --redWebTagger-gradient: linear-gradient(180deg,rgba(214, 4, 11, 1) 0%, rgba(214, 4, 11, 0) 100%);
    --blueWebTagger-gradient: linear-gradient(180deg,rgba(6, 110, 180, 1) 0%, rgba(6, 110, 180, 0) 100%);
    --yellowWebTagger-gradient: linear-gradient(180deg,rgba(247, 180, 0, 1) 0%, rgba(247, 181, 0, 0.005) 100%);
    --grayWebTagger-gradient: linear-gradient(180deg,rgb(118, 116, 114) 0%, rgba(255, 255, 255, 1) 100%);

    /* Cores padrão */
    --bg-white: #ffffff;
    --bg-black: #000000;
    --bg-black-50: rgba(0, 0, 0, 0.500);
    --bg-header: rgba(255, 255, 255, 0.807);
    --text-primary: #222222;
    --text-secondary: #666666;

    /* Bacground */
    --bg-home:#ffffffcc;

    /* Fontens */
    --font-family: "Roboto", Helvetica, sans-serif;

    /* Angulos */
    --angle: 0deg;
}

/* Corpo básico */
body {
    font-family: var(--font-family);
    background-color: var(--bg-white);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bg-black);
}

h1, h2, h3 {
    font-size: 3.125rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    color: var(--text-secondary);
}

.container {
    width: 100%;
    max-width: 92.5rem;
    padding: 0 16px;
    margin: 0 auto;
}

/* Header padrão */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-header);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px var(--bg-black-50);
    padding: 16px 0;
    z-index: 999;

    .container {
        .content_header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .div_logo {
                display: flex;
                align-items: center;
                gap: .625rem;

                span {
                    font-size: 1.25rem;
                    font-weight: bold;

                    &:hover {
                        color: transparent;
                        background: conic-gradient(
                            from var(--angle),
                            var(--redWebTagger),
                            var(--yellowWebTagger),
                            var(--greenWebtagger),
                            var(--blueWebTagger)
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                    }
                }
            }

            nav {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 1.25rem;

                    li {
                        position: relative;

                        a {
                            text-decoration: none;
                            color: var(--text-primary);
                            font-weight: 300;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            font-size: 16px;

                            &:hover {
                                background: linear-gradient(
                                    45deg,
                                    var(--redWebTagger),
                                    var(--yellowWebTagger),
                                    var(--greenWebtagger),
                                    var(--blueWebTagger)
                                );
                                -webkit-background-clip: text;
                                background-clip: text;
                                color: transparent;
                            }

                            &.active {
                                background: linear-gradient(
                                    45deg,
                                    var(--redWebTagger),
                                    var(--yellowWebTagger),
                                    var(--greenWebtagger),
                                    var(--blueWebTagger)
                                );
                                -webkit-background-clip: text;
                                background-clip: text;
                                color: transparent;
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            height: 1px;
                            width: 0%;
                            background: linear-gradient(
                                to left,
                                var(--blueWebTagger),
                                var(--greenWebtagger),
                                var(--yellowWebTagger),
                                var(--redWebTagger)
                            );
                            transition: width 0.4s ease;
                        }

                        &.hover-left {
                            &::after {
                                left: 0;
                                right: auto;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }

                        &.hover-right {
                            &::after {
                                right: 0;
                                left: auto;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5875rem;
            }
        }
    }
}

.sect_Home {
    background-color: var(--bg-home);
    padding: 5.5rem 0;
    overflow: hidden;
    .container {
        .content_Home {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content_left_Home {
                width: 100%;
                max-width: 650px;
                display: flex;
                flex-direction: column;
                align-items: start;

                h1 {
                    font-weight: 300;
                    color: var(--bg-black);
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 30px;
                }
                
                .contet_Home_Butttons {
                    display: flex;
                    gap: 30px;
                }
            }
            .content_Rigth_Home {
                position: relative;
                img {
                    width: 100%;
                    max-width: 57.5rem;
                }
                .cardLocal {
                    animation: floatRight 3s ease-in-out infinite;
                    position: absolute;
                    top: 15%;
                    left: 5%;
                    background: rgba(255,255,255,0.550);
                    border: 1px solid var(--greenWebtagger);
                    backdrop-filter: blur(10px);
                    border-radius: 1rem;
                    overflow: hidden;
                    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
                    font-size: 0.9rem;
                    .menu-top {
                        width: 100%;
                        background: var(--greenWebtagger-50);
                        border-bottom: 1px solid var(--greenWebtagger);
                        padding: 8px 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 5px;
                        li {
                            width: 6px;
                            height: 6px;
                            background: var(--greenWebtagger);
                            border-radius: 50%;
                        }
                    } 
                    .card-content {
                        padding: 1rem 1rem;
                        .top {
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            margin-bottom: 16px;
                            span {
                                background: var(--greenWebtagger-50);
                                padding: 8px;
                                border-radius: 20px;
                                color: var(--bg-black-50);
                            }
                        }
                        .bottom {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            h6 {
                                font-size: large;
                            }
                            i {
                                color: var(--bg-white);
                                background: var(--greenWebtagger-50);
                                padding: 5px;
                                border-radius: 25px;
                            }
                        }
                    }
                }
                .cardReceita {
                    animation: floatUp 4s ease-in-out infinite;
                    position: absolute;
                    bottom:-15% ;
                    left: -5%;
                    background: rgba(255,255,255,0.550);
                    border: 1px solid var(--blueWebTagger);
                    backdrop-filter: blur(10px);
                    border-radius: 1rem;
                    overflow: hidden;
                    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
                    font-size: 0.9rem;
                    .menu-top {
                        width: 100%;
                        background: var(--blueWebTagger-50);
                        border-bottom: 1px solid var(--blueWebTagger);
                        padding: 8px 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 5px;
                        li {
                            width: 6px;
                            height: 6px;
                            background: var(--blueWebTagger);
                            border-radius: 50%;
                        }
                    } 
                    .card-content {
                        padding: 1rem 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 40px;
                        .texts {
                            span {
                                color: var(--text-secondary);
                            }
                            h6 {
                                font-size: 2rem;
                                font-weight: 300;
                            }
                            ul {
                                margin-top: 20px;
                                display: flex;
                                align-items: center;
                                gap: 12px;
                                li {
                                    cursor: pointer;
                                    &:hover {
                                        background:var(--blueWebTagger);
                                        border-radius: 15px;
                                        padding: 6px;
                                        color: var(--bg-white);
                                    }
                                }
                                .active {
                                    background:var(--blueWebTagger);
                                    border-radius: 15px;
                                    padding: 6px;
                                    color: var(--bg-white);
                                }
                            }
                        }
                        .map {
                            background: var(--bg-header);
                            border: 1px solid var(--blueWebTagger);
                            max-width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
                .cardTimer {
                    animation: floatLeft 2.1s ease-in-out infinite;
                    position: absolute;
                    top: 0%;
                    right: 12%;
                    background: rgba(255,255,255,0.550);
                    border: 1px solid var(--redWebTagger);
                    backdrop-filter: blur(10px);
                    border-radius: 1rem;
                    overflow: hidden;
                    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
                    font-size: 0.9rem;
                    .menu-top {
                        width: 100%;
                        background: var(--redWebTagger-50);
                        border-bottom: 1px solid var(--redWebTagger);
                        padding: 8px 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 5px;
                        li {
                            width: 6px;
                            height: 6px;
                            background: var(--redWebTagger);
                            border-radius: 50%;
                        }
                    } 
                    .card-content {
                        padding: 1rem 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.75rem;
                    
                        /* Título com ícone */
                        span {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            i { font-size: 1.2rem; }
                        }
                    
                        /* Barra de progresso */
                        .progress-wrap {
                            width: 100%;
                            height: 6px;
                            background: rgba(255, 255, 255, 0.3);
                            border-radius: 3px;
                            overflow: hidden;
                    
                            .progress-bar {
                            width: 0;
                            height: 100%;
                            background: var(--redWebTagger);
                            animation: loadAnim 0.6s ease-out forwards;
                            }
                        }
                        #statusCarga {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            font-size: 1rem;
                            font-weight: 400;
                        
                            i { 
                                font-size: 1.2rem;
                                transition: transform 0.3s;
                            }
                        }
                        .reload-btn {
                            cursor: pointer;
                            font-size: 1.1rem;
                        }
                    }
                    &:hover {
                        transform: translateY(-2px);
                        transition: transform 0.2s;
                    }
                }
                .cardVisits {
                    animation: floatDown 4.3s ease-in-out infinite;
                    position: absolute;
                    top: 35%;
                    right: -5%;
                    background: rgba(255,255,255,0.550);
                    border: 1px solid var(--yellowWebTagger);
                    backdrop-filter: blur(10px);
                    border-radius: 1rem;
                    overflow: hidden;
                    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
                    font-size: 0.9rem;
                    .menu-top {
                        width: 100%;
                        background: var(--yellowWebTagger-50);
                        border-bottom: 1px solid var(--yellowWebTagger);
                        padding: 8px 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 5px;
                        li {
                            width: 6px;
                            height: 6px;
                            background: var(--yellowWebTagger);
                            border-radius: 50%;
                        }
                    } 
                    .card-content {
                        padding: 1rem 1rem;
                        flex-direction: column;
                        align-items: flex-start;
                    
                        ul {
                            margin-top: 0.5rem;
                            display: flex;
                            gap: 0.75rem;
                            
                            li {
                            padding: 0.25rem 0.75rem;
                            border-radius: 999px;
                            cursor: pointer;
                            transition: background 0.2s, color 0.2s;
                    
                            &:hover {
                                background: var(--yellowWebTagger);
                                color: var(--bg-white);
                            }
                            }
                    
                            li.active {
                            background: var(--yellowWebTagger);
                            color: var(--bg-white);
                            }
                        }
                    }
                }
            }
        }
    }
}

.sect_Numbers {
    border-bottom: 1px solid var(--greenWebtagger);
    background:linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,rgba(160, 171, 4, 0.296) 100%);;
    padding: 4rem 1rem;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .stats-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
        }

        .stat-item {
        background: var(--bg-gray-10);
        border-radius: 1rem;
        padding: 2rem 1.5rem;
        text-align: center;
        flex: 1 1 200px;
        max-width: 300px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        transition: transform .3s;

        &:hover {
            transform: translateY(-5px);
        }

        .stat-icon {
            font-size: 2.5rem;
            color: var(--purple-600);
            margin-bottom: 1rem;
        }

        .stat-value {
            font-size: 1.25rem;
            font-weight: 400;
            color: var(--text-dark);
            margin: 0;

            span {
            display: block;
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--purple-800);
            }
        }

        .stat-text {
            font-size: 0.9rem;
            color: var(--text-muted);
            margin-top: 0.5rem;
        }
        }
    }
}

.sect_Cases {
    background-image: url("/img/mockups/bg-Cases.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 2rem;

    .case_1 {
      text-align: center;
      margin-bottom: 3rem;
      
      span {
        color: var(--greenWebtagger);
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 2px;
      }
      
      h2 {
        font-size: 2.5rem;
        margin-top: .5rem;
      }
    }

    /* Swiper Container */
    swiper-container {
        width: 100%;
        padding-bottom: 4rem;
      
        swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          padding: 3.75rem;
      
          .case_item {
            background: #ffffff96;
            border-radius: 1rem;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            transition: transform 0.4s ease, box-shadow 0.3s ease;
            width: 100%;
            max-width: 33.4375rem;
            height: 18.75rem;
            position: relative; /* para o posicionamento absoluto funcionar */
      
            &:hover {
              transform: translateY(-10px);
              box-shadow: 0 12px 38px var(--bg-black-50);
            }
      
            h3 {
              color: var(--bg-black);
              padding: 1rem;
              font-size: 1.25rem;
              text-align: center;
              margin: 0;
              border-radius: 1rem 1rem 0 0;
            }
      
            .case_content {
              position: relative;
      
              .case_desktop {
                display: block;
                width: 100%;
                max-width: 33.4375rem;
                height: 18.75rem;
                height: auto;
                object-fit: cover;
                border-radius: 0 0 1rem 1rem;
              }
      
              .case_mobile {
                position: absolute;
                top: -1rem;
                right: -2rem;
                width: 120px; /* ajuste conforme o tamanho desejado */
                height: auto;
                z-index: 2;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: .5rem;
              }
            }
          }
        }
      
        .autoplay-progress {
          position: absolute;
          right: 16px;
          bottom: 16px;
          z-index: 10;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: var(--blueWebTagger);
      
          svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: var(--blueWebTagger);
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
          }
        }
        /* bolinhas */
.minha-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  
    .meu-bullet {
      display: inline-block;
      width: 6px;
      height: 12px;
      margin: 0 4px;
      background: #ddd;
      border-radius: 50%;
      opacity: 0.6;
      transition: opacity .3s, transform .3s;
    }
    .meu-bullet-ativo {
      opacity: 1;
      transform: scale(1.2);
      background: #007bff;
    }
  }
  
  /* setas */
  .minha-prev,
  .minha-next {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    z-index: 10;
    cursor: pointer;
    /* exemplo de background com SVG inline */
    background-size: 100% 100%;
  }
  .minha-prev {
    left: 10px;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg …></svg>");
  }
  .minha-next {
    right: 10px;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg …></svg>");
  }
  
    }
      
}

.sect_Sites {
    top: 0;
    z-index: 50;
    background-color: var(--greenWebtagger-10);
    padding: 3.75rem 0;
    .container {
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4.75rem;
            .left {
                width: 100%;
                background: var(--greenWebtagger-gradient);   
                .mk1 {
                    position: absolute;
                    top: 80px;
                    left: 130px;
                    z-index: 3;
                }
                .mk2 {
                    position: absolute;
                    top: 260px;
                    left: 80px;
                    animation: floatRight 3s ease-in-out infinite;
                    z-index: 4;
                }
                .mk3 {
                    position: absolute;
                    top: 20px;
                    right: 110px;
                    animation: floatLeft 3s ease-in-out infinite;
                    z-index: 2;
                }
                .mk4 {
                    position: absolute;
                    bottom: 80px;
                    right: 130px;
                    animation: floatUp 3s ease-in-out infinite;
                    z-index: 3;
                }
            }
            .rigth {
                width: 100%;
                h2 {
                    margin: 1.25rem 0;
                }
                p {
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}

.sect_Aplicativos {
    top: 0;
    z-index: 51;
    background-color: var(--yellowWebTagger-10);
    padding: 3.75rem 0;
    .container {
        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 3.75rem;
            .left {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                h2 {
                    margin: 1.25rem 0;
                }
                p {
                    margin-bottom: 1.25rem;
                }
            }
            .rigth {
                width: 100%;
                background: var(--yellowWebTagger-gradient);
                .mk1 {
                    position: absolute;
                    top: 180px;
                    left: 210px;
                    z-index: 4;
                }
                .mk2 {
                    position: absolute;
                    max-width: 200px;
                    top: 80px;
                    right: 80px;
                    animation: floatDown 3s ease-in-out infinite;
                }
                .mk3 {
                    position: absolute;
                    bottom: 50px;
                    left: 80px;
                    z-index: 1;
                    animation: floatUp 3s ease-in-out infinite;
                }
                .mk4 {
                    position: absolute;
                    bottom: 60px;
                    left: 200px;
                    max-width: 250px;
                    z-index: 3;
                    animation: floatRight 3s ease-in-out infinite;
                }
            }
        }
    }
}

.sect_Sistemasemnuvem {
    z-index: 52;
    background-color: var(--blueWebTagger-10);
    padding: 3.75rem 0;
    .container {
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.75rem;
            .left {
                width: 100%;
                background: var(--blueWebTagger-gradient);
                .mk1 {
                    position: absolute;
                    bottom: 200px;
                    left: 170px;
                    z-index: 4;
                }
                .mk2 {
                    position: absolute;
                    max-width: 200px;
                    bottom: 80px;
                    left: 80px;
                    animation: floatRight 3s ease-in-out infinite;
                }
                .mk3 {
                    position: absolute;
                    bottom: 50px;
                    right: 80px;
                    z-index: 1;
                    animation: floatUp 3s ease-in-out infinite;
                }
                .mk4 {
                    position: absolute;
                    top: 60px;
                    right: 100px;
                    max-width: 250px;
                    z-index: 3;
                    animation: floatLeft 3s ease-in-out infinite;
                }
            }
            .rigth {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                h2 {
                    margin: 1.25rem 0;
                }
                p {
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}

.sect_E-commerce {
    z-index: 53;
    background-color: var(--redWebTagger-10);
    padding: 3.75rem 0;
    .container {
        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 3.75rem;
            .left {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                h2 {
                    margin: 1.25rem 0;
                }
                p {
                    margin-bottom: 1.25rem;
                }
            }
            .rigth {
                background: var(--redWebTagger-gradient);
                .mk1 {
                    position: absolute;
                    top: 180px;
                    left: 210px;
                    z-index: 4;
                }
                .mk2 {
                    position: absolute;
                    top: 80px;
                    right: 80px;
                    animation: floatDown 3s ease-in-out infinite;
                }
                .mk3 {
                    position: absolute;
                    bottom: 130px;
                    left: 110px;
                    z-index: 1;
                    animation: floatUp 3s ease-in-out infinite;
                }
                .mk4 {
                    position: absolute;
                    bottom: 60px;
                    right: 100px;
                    max-width: 250px;
                    z-index: 3;
                    animation: floatLeft 3s ease-in-out infinite;
                }
            }
        }
    }
}

.sect_Hospedagem {
    top: 0;
    z-index: 54;
    background-color: var(--bg-home);
    padding: 3.75rem 0;
    .container {
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.75rem;

            .left {
                background: var(--grayWebTagger-gradient);
                .mk1 {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                    z-index: 3;
                    animation: floatLeft 3s ease-in-out infinite;
                }
                .mk2 {
                    position: absolute;
                    max-width: 200px;
                    bottom: 140px;
                    left: 80px;
                    z-index: 4;
                    animation: floatLeft 3s ease-in-out infinite;
                }
                .mk3 {
                    position: absolute;
                    bottom: 50px;
                    right: 80px;
                    z-index: 2;
                    animation: floatUp 3s ease-in-out infinite;
                }
                .mk4 {
                    position: absolute;
                    bottom: 120px;
                    left: 170px;
                    max-width: 350px;
                    z-index: 3;
                }
            }
            .rigth {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                h2 {
                    margin: 1.25rem 0;
                }
                p {
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}

.sect_Tecnolog {
    position: relative;
    z-index: 55;
    background-color: var(--bg-white);
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    .content-infos {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        text-align: center;
        h2 { max-width: 31.25rem; font-size: 2.5rem; font-weight: 300; margin-bottom: 1rem; }
        p  { max-width: 23rem; margin-bottom: 2rem; }
    }
  
    .content-icons-absolute {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        .content-icons {
            position: relative; width: 100%; height: 100%;
            .tech-item {
                position: absolute;
                img { border-radius: 50%; padding: .245rem; box-shadow: 0 0 15px var(--bg-black-50); transition: transform .3s; }
                &:hover img { transform: scale(1.1); transform: translateY(10px); }
                .tooltip {
                    position: absolute; bottom: -5rem; left: 50%; transform: translateX(-50%) translateY(50%);
                    z-index: 51;
                    opacity: 0; background: var(--bg-white); padding: .75rem; border-radius: .5rem;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.2); width: auto; min-width: 8rem;
                    font-family: 'Fira Code', monospace; font-size: .9rem;
                    white-space: nowrap;
                    transition: opacity .3s, transform .3s;
                }
                &:hover .tooltip { opacity: 1; transform: translateX(-50%) translateY(0); }
                &:active {transform: scale(1.01); z-index: 51;}
            }

            .img-1 { top: 5%; right: 5%; }
            .img-2 { top: 25%; right: 19%; }
            .img-3 { top: 15%; left: 45%; }
            .img-4 { top: 12%; left: 14%; }
            .img-5 { top: 45%; left: 8%; }
            .img-6 { top:50%; right: 14%; }
            .img-7 { bottom: 16%; left: 20%; }
            .img-8 { bottom: 16%; right: 45%; }
            .img-9 { bottom: 16%; right: 24%; }
        }
    }
}

.empresas {
    position: relative;
    z-index: 55;
    background: var(--bg-white);
    padding: 4rem 1rem;
    color: #000000;
    text-align: center;
  
    .titulo {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: 700;
    }
  
    .grade-logos {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      align-items: center;
      justify-items: center;
    }
  
    .logo-item {
      position: relative;
      transition: transform 0.3s ease;
      cursor: pointer;
  
      img {
        position: relative;
        max-width: 100%;
        height: auto;
        filter: grayscale(100%) brightness(0.8);
        transition: all 0.3s ease;
        display: block;
        z-index: 1;
      }
  
      .nome-empresa {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        color: #fff;
        opacity: 0;
        transition: all 0.3s ease;
        pointer-events: none;
        z-index: 3;
      }
  
      &:hover {
        img {
          filter: none;
          transform: scale(1.2);
          z-index: 2;
        }
  
        .nome-empresa {
          opacity: 1;
        }
      }
      &:active {transform: scale(1.02); z-index: 51;}
    }
}

.avaliacoes {
    position: relative;
    z-index: 55;
    background-color: var(--bg-white);
    padding: 4rem 1rem;
    color: var(--bg-black);
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .titulo {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
      color: #111;
    }
  
    .cards {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  
    .card {
      background: #fff;
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
      }

      &:active {transform: scale(1.01); z-index: 55;}
  
      .perfil {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
  
        .avatar {
          width: 48px;
          height: 48px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 1.2rem;
          border-radius: 50%;
        }

        .avatar-red {
            background: #e11d48;
        }

        .avatar-rosa {
            background: #ab47bc;
        }

        .avatar-marrom {
            background: #5d4037;
        }
        
        .avatar-verde {
            background: #689f38;
        }
  
        .avatar-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }
  
        .info {
          .nome {
            font-weight: 600;
            font-size: 1rem;
  
            span {
              display: block;
              font-weight: 400;
              font-size: 0.875rem;
              color: #555;
            }
          }
  
          .tempo {
            font-size: 0.85rem;
            color: #777;
          }
        }
      }
  
      .estrelas {
        color: #facc15;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
  
      .comentario {
        font-size: 1rem;
        line-height: 1.5;
        color: #444;
      }
    }
}

/* Seção CTA */
.cta {
    position: relative;
    display: block;
    background: var(--bg-white); /* Substitua pela imagem gerada */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 56;
    .cta-content {
        position: relative;
        bottom: -35px;
        background-image: url('/img/mockups/bg-cta.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 22px;
        padding: 50px 90px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 1;
        max-width: 800px;
        margin: 0 auto;
        .cta-title {
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .cta-subtitle {
            font-size: 1.1rem;
            margin-bottom: 30px;
        }
    }
    .brandAnos {
        position: absolute;
        transition: transform 0.3s ease-out;
        rotate: 15deg;
        bottom: -60px;
        right: 80px;
        max-width: 120px;
    }
}
  
.site-footer {
    position: relative;
    z-index: 55;
    background: var(--bg-white);
    color: #444;
    font-size: .95rem;
    border-top: 1px solid #e5e5e5;
    padding-top: 3.75rem;

    .footer-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 2rem;

        > * {
            flex: 1 1 250px;
            align-items: start;
            align-content: start;
        }
        
        .footer-brand {
            .div_logo {
                display: flex;
                align-items: center;
                gap: .625rem;
                margin-bottom: 20px;
        
                span {
                    font-size: 1.25rem;
                    font-weight: bold;
        
                    &:hover {
                        color: transparent;
                        background: conic-gradient(
                            from var(--angle),
                            var(--redWebTagger),
                            var(--yellowWebTagger),
                            var(--greenWebtagger),
                            var(--blueWebTagger)
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                    }
                }
            }
        }
    
        .footer-nav {
        width: 100%;
        h6 {
            margin-bottom: .5rem;
            font-weight: 600;
            color: #222;
        }

        .nav-columns {
            display: flex;
            gap: 2rem; 
            flex-wrap: wrap; 
        }

        ul {
            
            list-style: none;
            padding: 0;
            li + li { margin-top: .5rem; }
            a {
            text-decoration: none;
            color: inherit;
            &:hover { color: #007bff; }
            }
        }
        }
    
        .footer-location {
            width: 100%;
            h6 {
                margin-top: 1rem;
                margin-bottom: .5rem;
                font-weight: 600;
                color: #222;
            }
            p {
                line-height: 1.4;
                a {
                display: inline-block;
                text-decoration: none;
                color: inherit;
                &:hover { color: #007bff; }
                &.icon-mail::before {
                    content: "✉️ ";
                }
                &.icon-phone::before {
                    content: "📞 ";
                }
                }
            }
            .socials {
                margin-top: .5rem;
                a {
                text-decoration: none;
                color: inherit;
                font-weight: 500;
                    &:hover { color: #007bff; }
                    &.icon-instagram::before {
                        content: "📷 ";
                    }
                }
            }
        }
    
        .footer-contact {
        width: 100%;
        h6 {
            margin-top: 1rem;
            margin-bottom: .5rem;
            font-weight: 600;
            color: #222;
        }
        p {
            line-height: 1.4;
            a {
            display: inline-block;
            text-decoration: none;
            color: inherit;
            &:hover { color: #007bff; }
            &.icon-mail::before {
                content: "✉️ ";
            }
            &.icon-phone::before {
                content: "📞 ";
            }
            }
        }
        .socials {
            margin-top: .5rem;
            a {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
            &:hover { color: #007bff; }
            &.icon-instagram::before {
                content: "📷 ";
            }
            }
        }
        }
    }


  .footer-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 1rem 0;
    font-size: .8rem;
    color: #777;
    .dev {
        display: flex;
        align-items: center;
        gap: 15px;
    }
  }

  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: .5rem;
    }
  }
}

/* Menu lateral e overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-black-50);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 98;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 50vw;
    background: var(--bg-white);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 9999;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .content-top-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .div_logo {
            display: flex;
            align-items: center;
            gap: .625rem;

            span {
                font-size: 1.25rem;
                font-weight: bold;

                &:hover {
                    color: transparent;
                    background: conic-gradient(
                        from var(--angle),
                        var(--redWebTagger),
                        var(--yellowWebTagger),
                        var(--greenWebtagger),
                        var(--blueWebTagger)
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            a {
                text-decoration: none;
                color: var(--text-primary);
                font-size: 1.1rem;
                display: inline-block;
                align-items: center;
                gap: .75rem;
                transition: all 0.3s ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                    background: linear-gradient(
                        45deg,
                        var(--redWebTagger),
                        var(--yellowWebTagger),
                        var(--greenWebtagger),
                        var(--blueWebTagger)
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    .close-menu {
        align-self: center;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--text-primary);
        &:hover {
            color: var(--redWebTagger);
        }
    }

}

/* Estado ativo do menu */
.menu-active {
    .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu {
        right: 0;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 99;
    display: flex;
    align-items: center;
    background-color: #25d366;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    width: 55px;
    height: 55px;
    transition: width 0.4s ease;
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.4);
    span {
        white-space: nowrap;
        margin-left: 10px;
        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.4s ease, transform 0.4s ease;
        
        &:hover {
          opacity: 1;
          transform: translateX(0);
        }
    }
    &:hover {
      width: 220px;
    }
    .whatsapp-icon {
      font-size: 22px;
    }
    
    /* Efeito: ponto vermelho piscando (pulse) */
    .whatsapp-ping {
      position: absolute;
      top: -5px;
      right: -5px;
      background: red;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      animation: ping 1.2s infinite ease-in-out;
      z-index: 2;
    }

    /* Efeito: sininho balançando */
    .call-bell {
      position: absolute;
      top: -12px;
      left: -12px;
      font-size: 18px;
      color: yellow;
      animation: ring 1s infinite ease-in-out;
    }
  }


/* Componente */
.box {
    position: relative;
    overflow: hidden;
    border-radius: 1.875rem;
    width: 100%;
    height: 37.5rem;
}

/* Responsivo */
@media (min-width: 1200px) {
    header {
        .container {
            .content_header {
                .buttons {
                    .menuMobile {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    header {
        .container {
            .content_header {
                nav {
                    display: none;
                }
    
                .buttons {
                    .menuMobile {
                        display: block;
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: 1.5rem;
                        color: var(--text-primary);
                    }
                }
            }
        }
    }

    .mobile-menu {
        max-width: 75vw;
    }

    .sect_Home {
        padding: 4rem 1rem;
    
        .content_Home {
            flex-direction: column;
        
            .content_Rigth_Home {
                margin-top: 2rem;
                img {
                    max-width: 100%;
                }
                .cardReceita {
                    display: none;
                }
                .cardTimer {
                    display: none;
                }
                .cardLocal {
                    left: 0%;
                }
                .cardVisits {
                    right: 0%;
                    top: 100%;
                }
            }
        }
      }
}

@media (max-width: 1024px) {
    swiper-container {
        --swiper-slides-per-view: 2;
    }

    .sect_Tecnolog {
        padding: 6rem 1rem;
    
        .content-icons-absolute {
          position: static; 
    
          .content-icons {
            position: static;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            gap: 1.5rem;
            justify-items: center;
            align-items: center;
            padding-top: 2rem;
    
            .tech-item {
              position: static;
    
              img {
                width: 50px;
                height: 50px;
              }
    
              .tooltip {
                display: none; 
              }
            }
          }
        }
      }

    .sect_Aplicativos,
    .sect_E-commerce {
        .container {
            .content {
            display: flex;
            flex-direction: column;
            align-items: center;      
            justify-content: center;  
            text-align: center;
            gap: 1.5rem;

            .left,
            .rigth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
            }
            }
        }
    }
    
    .sect_Sites,
    .sect_Sistemasemnuvem,
    .sect_E-commerce,
    .sect_Hospedagem {
        .container {
            .content {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;      
            justify-content: center;  
            text-align: center;
            gap: 1.5rem;

            .left,
            .rigth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
            }
            }
        }
    }
    
}

@media (max-width: 768px) {
    swiper-container {
        --swiper-slides-per-view: 1;
    }

    .sect_Numbers {
        ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 1rem;
            gap: 2rem;
        }
    }
}

/* Botão animado */
.animated-button {
    color: var(--text-primary);
    font-size: 16px;
    border: .1875rem solid transparent;
    border-radius: 25px;
    background: linear-gradient(var(--bg-white), var(--bg-white)) padding-box, conic-gradient( from var(--angle), var(--redWebTagger), var(--yellowWebTagger), var(--greenWebtagger), var(--blueWebTagger)) border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
    animation: spin 8s linear infinite;
    
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 .9375rem var(--bg-black-50);
    }
    
    span {
        display: inline-block;
        padding: .625rem 1.25rem;
        
        &:hover {
            background: conic-gradient(
                from var(--angle),
                var(--redWebTagger),
                var(--yellowWebTagger),
                var(--greenWebtagger),
                var(--blueWebTagger)
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent; /* não esqueça disso para mostrar o gradiente no texto! */
        }
    }

    &.filled {
        background: var(--greenWebtagger);
        color: var(--bg-white);
        border: none;
        animation: none;
    
        span:hover {
            background: none;
            color: var(--bg-white);
        }
    }
}

/* Base: mesmo estilo, cores diferentes */
.btn-red {
    background: transparent;
    color: var(--redWebTagger);
    border: 2px solid var(--redWebTagger);
    padding: .75rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--redWebTagger-50);
        color: #fff;
    }
}

.btn-green {
    background: transparent;
    color: var(--greenWebtagger);
    border: 2px solid var(--greenWebtagger);
    padding: .75rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--greenWebtagger-50);
        color: #fff;
    }
}

.btn-blue {
    background: transparent;
    color: var(--blueWebTagger);
    border: 2px solid var(--blueWebTagger);
    padding: .75rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--blueWebTagger-50);
        color: #fff;
    }
}

.btn-yellow {
    background: transparent;
    color: var(--yellowWebTagger);
    border: 2px solid var(--yellowWebTagger);
    padding: .75rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--yellowWebTagger-50);
        color: #000; 
    }
}

.button-follow {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  
    .ball {
      position: absolute;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        top 0.15s ease,
        left 0.15s ease;
      z-index: -1;
    }
  
    .blueDark-ball {
      background: #000229;
    }
  
    .green-ball {
      background: var(--greenWebtagger);
    }
  
    .red-ball {
      background: var(--redWebTagger);
    }
  
    .blue-ball {
      background: var(--blueWebTagger);
    }

    .yellow-ball {
        background: var(--yellowWebTagger);
    }
  }
  
  
  

/* Animações */
@keyframes spin {
    to {
        --angle: 360deg;
    }
}

@keyframes floatRight {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(10px); }
  }
  
  @keyframes floatLeft {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
  }
  
  @keyframes floatUp {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes floatDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }

  @keyframes loadAnim {
    to { width: 100%; }
  }

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes ping {
    0% { transform: scale(1); opacity: 1; }
    70% { transform: scale(1.6); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
  }


  @keyframes ring {
    0% { transform: rotate(0); }
    20% { transform: rotate(-15deg); }
    40% { transform: rotate(15deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
  }
